@import './variables.scss';

.footer{
  color: map-get($colors, blueButton );
  background: map-get($colors, blueDark );
  padding: 20px;

  .footer-title{
    font-family: 'Lobster', cursive;
    font-weight: 200;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .footer-media{
    list-style: none;
    display: flex;
    &__facebook{
      margin-right: 10px;
    }
    &__instagram{
      margin-right: 10px;
    }
    &__twitter{
      margin-right: 10px;
    }
  }

  .footer-about{
    list-style: none;
    margin-top: 20px;
  }

  .footer-methods{
    margin-top: 20px;
    list-style: none;
  }

  .img-footer{
    display: none;
  }

}

@media only screen and (min-width: map-get($breakpoints, medium )) {
  .footer{
    background: map-get($colors, bluelight);
    color: map-get($colors, blueDark);
    display: flex;
  }
}