@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
$colors : (
  bluelight: #D6E3EB,
  blueMedium: #2E8BC0,
  blueButton: #B1D4E0,
  blueDark: #0C2D48,
  blueGradient: #145DA0,
  blueCards: #328DB8,
  other: #0071BC,
  greenMedium: #8CC63F,
  greenIcon: #28C628,
  red: #C1272D,
  white: #ffffff
);


$breakpoints: (
    small: 320px,
    medium: 600px,
    large: 968px
);
